name: 'Create README.md file'
permissions: write-all

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/*README.md'
  workflow_dispatch:

jobs:

  readme-create:

    name: 'readme-create'
    runs-on: ubuntu-latest

    steps:
      - name: Updating GitHub Token
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "GH_TOKEN=${GITHUB_TOKEN}" >> $GITHUB_ENV

      - name: checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          token: ${{ env.GH_TOKEN }}

      - name: 'Set up Python 3.7'
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: 'create readme'
        uses: 'clouddrove/github-actions@9.0.3'
        with:
          actions_subcommand: 'readme'
          github_token: '${{ secrets.GITHUB }}'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 'pre-commit check errors'
        uses: pre-commit/action@v3.0.1
        continue-on-error: true

      - name: 'pre-commit fix erros'
        uses: pre-commit/action@v3.0.1
        continue-on-error: true

      - name: 'push readme'
        uses: 'clouddrove/github-actions@9.0.3'
        continue-on-error: true
        with:
          actions_subcommand: 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

      # - name: 'Slack Notification'
      #   uses: clouddrove/action-slack@v2
      #   with:
      #     status: ${{ job.status }}
      #     fields: repo,author
      #     author_name: 'CloudDrove'
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # required
      #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_TERRAFORM }} # required
      #   if: always()
